table {
    width           : 100%;
    max-width       : 30vh;                         /* عرض حداکثر برای خوانایی */
    margin          : 20px auto;                     /* وسط‌چین کردن و فاصله بین جدول‌ها */
    border-collapse : collapse;
    background-color: #fff;
    box-shadow      : 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius   : 8px;
    float: left;
    height: 50px;
    direction: ltr;
}

#tabel{
    overflow: auto;
    width: 50vh;
    float: left;
    height: 340px;
}

h1{
    direction: rtl;
}

th {
    background-color: #5e66f6;
    color           : white;
    font-size       : 18px;
    font-weight     : bold;
    padding         : 12px;
    text-align      : center;
    text-transform  : uppercase;
    font-family     : 'Bebas Neue', sans-serif;  /* فونت هدر */
}

tr {
    border    : none;
    transition: background-color 0.3s;
}

tr:nth-child(even) {
    background-color: #f8f8f8;  /* رنگ متناوب برای سطرها */
}

tr:hover {
    background-color: #e0e0e0;  /* رنگ هنگام هاور */
}

td {
    padding      : 10px;
    text-align   : center;
    font-size    : 16px;
    color        : #333;
    border-bottom: 1px solid #ddd;  /* خط جداکننده سطرها */
    margin-left  : 0;               /* حذف حاشیه چپ */
}

caption{
    margin-bottom: 8px;
    border-radius: 8px;
    padding      : 2px;  
    background-color:#5e66f6 ;
    color:      white;
}