.container {
  display: flex;
  gap: 2%;
  flex-wrap: wrap;
  flex-direction: row;
  direction: ltr;
  
}

.item:nth-child(1){
  width:64%;
  height:2%;
  order:0%;
  margin-top:100px;
}

.item:nth-child(2),
.item:nth-child(3),
.item:nth-child(4),
.item:nth-child(5) {
  width: 32%;
  height: 32%;
}

#timer-tournament{
    direction: rtl;
    width: 70%;
    height: 100px;
    border-radius: 10px;
    border: 2px solid white;
    font-size: 20px;
    color: white;
    display: flex;
    gap:30px ;
    justify-content: center;
    align-items: center;
    /* backdrop-filter: blur(10px); */
    background-color: rgba(255, 255, 255, 0.15);
    margin: 0 auto;
}


.hr{
    width: 1px;
    height: 80px;
    background-color: white;
    justify-content: space-around;
    justify-items: end;
    align-content: space-around;
    display: flex;
}