table {
    width: 100%;
    border-collapse: collapse;
    background-color: rgba(255, 255, 255, 0.729);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    direction: ltr;
    border-radius: 29px 29px 0 0;
    font-family: 'Vazirmatn', sans-serif;
}

#tabel {
    overflow: auto;
    width: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 1001;
}

h1 {
    direction: rtl;
    display: flex;
    justify-content: start;
    align-content: start;
    
}

th {
    background-color: #5e66f6;
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 12px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Bebas Neue', sans-serif;
    border-radius: 28px 28px 0 0;
}

tr {
    border: none;
    transition: background-color 0.3s;
}

tr:nth-child(even) {
    background-color: #e2e2e2;
}


td {
    padding: 10px;
    text-align: center;
    font-size: 16px;
    color: #333;
    border-bottom: 1px solid #222;
}

caption {
    color: white;
    font-size: 1.4rem;
    font-weight: bold;
}

.neon {
    position: relative;
    display: inline-block; 
    color: white;
    overflow: hidden;
    width: 100%;
    padding-bottom:14px; 
}

.neon::before {
    content: '';
    position: absolute;
    bottom: 0;
    height: 3px;
    width: 100%;
    background: linear-gradient(90deg, transparent, #1c47d4, #e9001e, transparent);
    animation: neon-pulse 1.5s ease-in-out infinite;
}

@keyframes neon-pulse {
    0% {
        left: -100%;
    }
    100% {
        left: 100%;
    }
}

.lePeek span { animation-name: lePeek }
@keyframes lePeek {
    25% {  transform: rotateX(30deg) translateY(10px) rotate(-13deg); }
    50% { transform: translateY(-22px) rotate(3deg) scale(1.1);  }
}

.item:nth-child(3){
    position: relative;
}

@property --angel{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: true;
}
.item:nth-child(3)::before{
    filter: blur(20px);
    opacity: 50% ;
}
.item:nth-child(3)::after , .item:nth-child(3)::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(
    from var(--angel),
    transparent 0%,
    #0aaced 50%,
    #cf0047 80%,
    transparent 100%
  );
    top: 50%;
    left: 50%;
    translate:-50% -50% ;
    z-index: -1;
    padding: 7px;
    border-radius: 29px 29px 0 0;
    animation: 3s spin linear infinite;
}


@keyframes spin{
    from{
        --angel: 0deg;
    }
    to{
        --angel:360deg;
    }
}
