.status-table {
    width: 100%;
    border-collapse: collapse;
    direction: rtl;
    font-family: 'B Nazanin', Tahoma, sans-serif;
    border-radius: 29px 29px 0 0;
    overflow: hidden;
  }
  
  .status-table caption {
    font-size: 1.4rem;
    padding: 10px 0;
    font-weight: bold;
    color: white;
  }
  
  .status-table th, 
  .status-table td {
    padding: 10px 15px;
    border-bottom: 1px solid #222;
    text-align: center;
    font-size: 1rem;
  }
  
  .status-table tr:last-child td {
    border-top: none;
  }
  

   .status-table tr:first-child th {
    border: none;
  }

  .btn41-43 {
  padding: 10px 25px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  display: flex;
  text-align: center;
  justify-content: center;
  justify-items: center;
  align-items: center;
  margin: 0 auto;
}
