body {
    background-image: url(../img/ChatGPT\ Image\ May\ 3\,\ 2025\,\ 02_24_54\ PM.png);
    background-size: cover;
    font-family: 'Vazirmatn', sans-serif;
    color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 10  0vh;
    padding-top: 40px;
  }

  #register-form {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(3px);
    border-radius: 15px;
    padding: 30px;
    box-shadow: 3px 7px 10px rgb(255 255 255 / 34%);
    max-width: 400px;
    width: 100%;
    height: auto;
    color: #ffffff;
  }

  #register-form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .input-group {
    position: relative;
    margin-bottom: 37px;
    margin-top: 5px;
  }
  
  input {
    background-color: #faf9ff;
    border: none;
    border-radius: 10px;
    padding: 12px;
    font-size: 16px;
    direction: rtl;
    font-family: 'Vazirmatn', sans-serif;
    width: 100%;
    box-sizing: border-box;
    text-align: left;
    direction: rtl;
  }
  
  input:focus {
    outline: none;
    -webkit-box-shadow:0px 0px 32px 0px rgba(0,3,167,0.52);
    -moz-box-shadow: 0px 0px 32px 0px rgba(0,3,167,0.52);
    box-shadow: 0px 0px 32px 0px rgba(0,3,167,0.52);
    background-color: white;
    text-align: right;
  }
  
  /* Label Styling for Inputs */
  .input-group label {
    position: absolute;
    top: 12px;
    right: 10px;
    color: black;
    font-size: 16px;
    font-family: 'Vazirmatn', sans-serif;
    transition: all 0.3s ease;
    pointer-events: none;
    direction: rtl;

  }
  
  input:focus + label,
  input:not(:placeholder-shown) + label {
    font-size: 17px;
    padding: 0 5px;
    border-radius: 5px;
  }

  input:focus+label{
    transform: translateY(-28px);
    color: #020024;
    background-color: #ffffff;
    border-radius: 8px;
  }
  
  h3{
    direction: rtl;
  }

  #welcome-message{
    direction: rtl;
  }

  label{
    direction: rtl;
    color
  }